.nearbyproperties {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}
.nearbyproperties div {
  width: 100%;
  display: flex;
  justify-content: space-between;
  border: 0;
}
.nearbyproperties div span {
  font-weight: 500;
  font-size: 2rem;
}
.nearbyproperties div span:first-child {
  color: #7a7474;
}
