.forrent {
  padding: 1rem 3.2rem;
  background-color: #9653da;
  color: #ffffff;
  font-weight: 500;
  font-size: 2rem;
  border-radius: 0.6rem;
  position: absolute;
  top: 2.4rem;
  left: 2.4rem;
}
