.navbar {
  font-size: 1.6rem;
  margin-left: 16vw;
}
.navbar ul {
  display: flex;
  gap: 2.4rem;
  align-items: center;
  margin-top: 0.6rem;
}
.navbar ul li {
  list-style: none;
  font-weight: 500;
}
.navbar ul li > * {
  text-decoration: none;
  color: #000;
}
.navbar ul li > *.active {
  text-decoration: underline;
  text-decoration-color: #000;
  text-underline-offset: 0.4rem;
  text-decoration-thickness: 0.2rem;
  font-weight: 700;
}
