.container {
  position: relative;
  width: 100%;
  height: 500px;
  background: url("./../../assets/images/bluredNeighbourhood.png") center/cover
    no-repeat;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
  overflow: visible;
  align-self: auto;
  /* margin-left: 50px; */
}

#heroH1 {
  font-size: 38px;
  color: aliceblue;
}
p {
  font-size: 16px;
  color: aliceblue;
}

.search-container {
  width: 75vw;
  height: 13rem;
  position: absolute;
  bottom: -35px;
  left: 50%;
  transform: translateX(-50%);
  background: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  padding: 15px 20px;
  border-radius: 12px;
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.15);
  z-index: 2;
  margin: auto;
}

.search-container select {
  border: none;
  outline: none;
  padding: 10px 15px;
  width: 17.6vw;
  height: 50px;
  border-radius: 8px;
  font-size: 14px;
  background: #f9f9f9;
}

.search-container .filter-btn {
  background: #f2f2f2;
  cursor: pointer;
}
.search-btn {
  width: 11.1vw;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500px;
  font-size: 16px;
}
.search-container .search-btn {
  background: #0055ff;
  color: white;
  cursor: pointer;
}

.search-container .search-btn:hover {
  background: #0041cc;
}

.search-container button {
  border-radius: 8px;
  font-size: 14px;
  background: #f9f9f9;
  border: none;
  outline: none;
  padding: 10px 15px;
}

.magnifying {
  margin-right: 20px;
}
