.abtus {
  width: 100%;
}

.abtus-img-container {
  width: 100%;
  height: 620px;
  border-top-right-radius: 12px;
  border-top-left-radius: 12px;
  align-self: center;
  padding-bottom: 0px;
  margin-bottom: 0px;
}

.hero-container {
  width: 100%;
  height: 830px;
}

.hero-image {
  height: 620px;
  position: relative;
  background-image: url("./../../assets/images/AboutUsImg.png");
  border-top-left-radius: 1.2rem;
  border-top-right-radius: 1.2rem;
}
.hero-image > {
  position: absolute;
}

.under-part {
  width: 100%;
  display: flex;
  justify-content: center;
  overflow: hidden;
}

.counter {
  text-align: center;
  width: 100%;
  height: 240px;
  align-self: center;
  background-color: #fff;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
  display: flex;
  justify-content: space-around;
  margin-top: 0px;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
}

.properties-sold {
  width: 295px;
  height: 162px;
  background-color: #fff;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
  display: flex;
  flex-direction: column;
  margin-top: 40px;
}

.sold-properties {
  width: 24px;
  height: 24px;
  align-self: center;
  margin-top: 12px;
}

.sold-number {
  font-size: 50px;
  font-weight: 700;
  color: #100e2c;
  margin-top: 7px;
  margin-bottom: 0px;
}

.property-name {
  font-size: 24px;
  font-weight: 500;
  margin-top: 5px;
  color: #100e2c;
  margin-bottom: 5px;
}

.about-us-article {
  width: 100%;
  height: 340px;
  background-color: #fff;
  display: flex;
  justify-content: center;
}

.aua-image {
  border-radius: 12px;
  width: 416px;
  height: 320px;
  margin-right: 300px;
}

.au-text-part {
  display: flex;
  flex-direction: column;
  margin-right: 90px;
  text-align: center;
  margin-top: 45px;
}
.aua-text {
  color: #100e2c;
  text-align: start;
}
.au-text-part > h1 {
  font-size: 40px;
  font-weight: 700;
}
.aua-text p {
  font-size: 16px;
}

.client-container {
  margin-top: 80px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.cc-text {
  color: #100e2c;
  margin-bottom: 30px;
  text-align: center;
}

.cc-text-h1 {
  color: #100e2c;
  margin-top: 80px;
  font-size: 40px;
  font-weight: 700;
  text-align: center;
}

.buy-sell-rent {
  width: 1076px;
  height: 361px;
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.bsr {
  width: 342.67px;
  height: 361px;
  background-color: #100e2c;
  margin-top: 10px;
}

.bsr-text {
  color: #fff;
  margin-bottom: 3.25rem;
}
h3.bsr-text {
  font-weight: 700;
  font-size: 2.4rem;
}
p.bsr-text {
  font-size: 1.6rem;
}
.cc-cards-image {
  width: 64px;
  /* height: 55px; */
  /* margin-left: 130px;
  margin-top: 30px; */
  margin-bottom: 3.25rem;
  fill: white;
  margin-top: 4.35rem;
}

.find-btn {
  background: #0055ff;
  color: white;
  cursor: pointer;
  border: none;
  outline: none;
  width: 20rem;
  height: 5rem;
  border-radius: 4px;
  font-weight: 500;
  font-size: 2rem;
}

.find-btn:hover {
  background: #0041cc;
}
.margin-containment {
  margin: 0 5% 0 5%;
  width: 90%;
}
.buy,
.sell,
.rent {
  width: 342.67px;
  height: 36.1rem;
  background-color: #100e2c;
  border-radius: 15px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image-section {
  height: 480px;
  border-radius: 10px;
  position: relative;
  margin-top: 6rem;
}

.bg {
  width: 100%;
  height: 100%;
  object-fit: cover;
  /* margin-top: 6rem; */
}

.text-content {
  color: #fff;
  text-align: left;
  width: 80%;
  /* max-width: 600px; */
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 18rem;
}
.realestatepers div:first-child {
  margin-left: 11rem;
  margin-right: 13.4rem;
  width: 36vw;
}
.realestatepers h1 {
  font-weight: 700;
  font-size: 4rem;
}
.realestatepers p {
  font-size: 1.6rem;
  color: #000;
  margin-bottom: 4rem;
}
.realestatepers {
  display: flex;
}
.realestatepers img {
  width: 29vw;
  border-radius: 1.2rem;
}
.text-content h1 {
  font-size: 1.8rem;
  font-weight: 700;
  margin-bottom: 2.4rem;
  font-size: 5rem;
}

.text-content p {
  font-size: 1.6rem;
  color: #fff;
}

.agents-container {
  width: 100%;
  height: 600px;
  margin-top: 50px;
}

.text-zone {
  color: #100e2c;
}

.text-zone p {
  color: #100e2c;
}

.agents-card {
  width: 100px;
  height: 250px;
  margin-top: 100px;
  margin-left: 100px;
  display: flex;
  justify-content: space-between;
}

.agent {
  width: 650px;
  height: 250px;
  display: flex;
}

.agent-image {
  width: 200px;
  height: 200px;
}

.agent-image img {
  width: 200px;
  height: 200px;
}

.agent-data {
  width: 400px;
  height: 210px;
}

.agent-data h5 {
  margin-top: 5px;
  margin-right: 200px;
  color: #100e2c;
}

.agent-data h3 {
  margin-bottom: 5px;
  margin-right: 200px;
}

.blog-text {
  margin-top: 85px;
}

.blog-text h1 {
  color: #100e2c;
}

.blog-text p {
  color: #100e2c;
}

.contactusaside {
  text-align: center;
  color: #100e2c;
}

.contactusaside h2 {
  margin: 6rem 0 2.4rem 0;
  font-weight: 700;
  font-size: 4rem;
  color: #100e2c;
}

.offices {
  display: flex;
  justify-content: space-between;
  margin-bottom: 6rem;
  gap: 20px;
  /* margin-left: 72px;
  margin-right: 72px; */
  margin-top: 50px;
  text-align: start;
}
.office img {
  height: 371px;
  width: 29vw;
  object-fit: cover;
  border-top-right-radius: 1.2rem;
  border-top-left-radius: 1.2rem;
}
.office h3 {
  font-weight: 600;
  font-size: 2.4rem;
  margin-top: 1.2rem;
}
.office p {
  font-weight: 500;
  font-size: 1.6rem;
  /* color: #7a7474; */
}
.office p:first-of-type {
  font-weight: 400;
  color: #7a7474;
}
